<a href="https://colab.research.google.com/github/sandeep0097-97/python-assignment/blob/main/python_practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [2]:
# Prompt the user to input a sequence of comma-separated numbers and store it in the 'values' variable
values = input("Input some comma-separated numbers: ")

# Split the 'values' string into a list using commas as separators and store it in the 'list' variable
list = values.split(",")

# Convert the 'list' into a tuple and store it in the 'tuple' variable
tuple = tuple(list)

# Print the list
print('List : ', list)

# Print the tuple
print('Tuple : ', tuple)

Input some comma-separated numbers: 1,2,2,2
List :  ['1', '2', '2', '2']
Tuple :  ('1', '2', '2', '2')

In [1]:
for i in range(1,5):
  for j in range(1,5):
    if j>=i:
      print("1",end=' ')
    else:
      print(" ",end=' ')
  print()

1 1 1 1
  1 1 1
    1 1
      1

In [5]:
for i in range(1,5):
  for j in range(1,5):
    if j<=5-i:
      print("1",end=' ')
    else:
      print(" ",end=' ')
  print()

1 1 1 1
1 1 1
1 1
1

In [7]:
colour =["Red","White","Black","Blue"]
print("FIRST AND LAST COLOUR OF LIST")
print(colour[0],colour[-1])

FIRST AND LAST COLOUR OF LIST
Red Blue

In [8]:
# Get user input for a list of colors
user_input = input("Enter a list of colors separated by commas: ")

# Split the user input into a list of colors
color_list = user_input.split(',')

# Display the first color
if color_list:
    print("First color:", color_list[0])
else:
    print("No colors entered.")

# Display the last color
if color_list:
    print("Last color:", color_list[-1])
else:
    print("No colors entered.")

Enter a list of colors separated by commas: red,blue,yellow,green
First color: red
Last color: green

In [9]:
# Define a function 'sum' that takes two integer inputs: x and y.
def sum(x, y):
    # Calculate the sum of x and y and store it in the 'sum' variable.
    sum = x + y
    # Check if the calculated sum is within the range [15, 20) (inclusive on 15, exclusive on 20).
    if sum in range(15, 20):
        # If the sum is within the range, return 20.
        return 20
    else:
        # If the sum is outside the range, return the calculated sum.
        return sum

# Test the 'sum' function with different sets of input values and print the results.
print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

In [10]:
# Prompt the user for input and convert it to an integer.
n = int(input("Input a number: "))

# Calculate the sum of the first 'n' positive integers using the formula.
sum_num = (n * (n + 1)) / 2

# Print the result, indicating the sum of the first 'n' positive integers.
print("Sum of the first", n, "positive integers:", sum_num)

Input a number: 5
Sum of the first 5 positive integers: 15.0

In [11]:
# Prompt the user to input their height in feet and convert it to a floating-point number.
height = float(input("Input your height in Feet: "))

# Prompt the user to input their weight in kilograms and convert it to a floating-point number.
weight = float(input("Input your weight in Kilograms: "))

# Calculate the body mass index (BMI) using the provided height and weight and round it to 2 decimal places.
bmi = weight / (height * height)
rounded_bmi = round(bmi, 2)

# Print the calculated BMI.
print("Your body mass index is: ", rounded_bmi)

Input your height in Feet: 5.10
Input your weight in Kilograms: 65
Your body mass index is:  2.5

In [17]:
# Get user input for a list of numbers
user_input = input("Enter a list of numbers separated by commas: ")

# Split the user input into a list of integers
nums = [int(num) for num in user_input.split(',')]

# Print a message along with the original list of numbers.
print("Original numbers in the list: ", nums)

# Print a message indicating that positive numbers in the list will be listed.
print("Positive numbers in the said list: ")

# Iterate through each number in the "nums" list.
for pos_nums in nums:
    # Check if the number is greater than 0 (positive).
    if pos_nums > 0:
        # Print positive numbers on the same line with a space separator.
        print(pos_nums, end=" ")

Enter a list of numbers separated by commas: 3,4,5
Original numbers in the list:  [3, 4, 5]
Positive numbers in the said list:
3 4 5

In [20]:
# Get user input for the value of x
user_input = input("Enter a value for x: ")

# Try to convert the user input to a tuple, set, or list
try:
    x = eval(user_input)
except:
    x = None

# Check the type of x using the 'type()' function and print a message accordingly.
if type(x) is list:
    print('x is a list')
elif type(x) is set:
    print('x is a set')
elif type(x) is tuple:
    print('x is a tuple')
else:
    print('Neither a list nor a set nor a tuple.')

Enter a value for x: [1,2,3,4,5]
x is a list